.kortliste {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 -10px;
}

h1 {
    text-align: center;
}

.kortliste ul {
    flex-grow: 1;
    max-width: 400px;
    min-width: 200px;
    margin: 0 10px;
    padding: 0;
    list-style-type: none;
}

.kort {
    background-color: white;
    margin-bottom: 10px;
}

.kort:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background: #dadada;
    cursor: pointer;
}

.kort .kort-innhold {
    padding: 20px 30px 5px;
}

.info-blokk {
    line-height: 200%;
}

body {
    background-color: #e6e6e6;
}