@font-face {
    font-family: 'roboto-medium';
    src: url('../fonts/roboto/Roboto-Medium.woff2') format('woff2')
}

@font-face {
    font-family: 'roboto-light';
    src: url('../fonts/roboto/Roboto-Light.woff2') format('woff2')
}


body {
    background-color: #e6e6e6;
    font-family: "roboto-light", sans-serif;
}

.card-list {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 -10px;
}

h1 {
    text-align: center;
}

.card-list-column {
    flex-grow: 1;
    max-width: 400px;
    min-width: 200px;
    margin: 0 10px;
}

.card-list-column ul {
    list-style-type: none;
    padding: 0;
}

.card {
    background-color: white;
    margin-bottom: 10px;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background: #dadada;
    cursor: pointer;
}

.card .card-content {
    padding: 10px 20px 5px;
}

.card .card-content h2,p {
    margin: 5px 0;
}


