@font-face {
    font-family: 'roboto-medium';
    src: url('../fonts/roboto/Roboto-Medium.woff2') format('woff2')
}

@font-face {
    font-family: 'roboto-light';
    src: url('../fonts/roboto/Roboto-Light.woff2') format('woff2')
}

body {
    background-color: #262626;
    font-family: "roboto-light", sans-serif;
    margin: 0;
    color: #c6c8ca;
}

input, select, textarea{
    color: #c6c8ca;
}

ul {
    margin: 0;
}

.container {
    position:absolute;
    width:100%;
    overflow-y:hidden;
    top:0;
    bottom:0;
}

.content {
    margin: 10px;
}

.card-list {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 0 -10px;
}

.card-list-column {
    flex-basis: 300px;
    min-width: 180px;
    margin: 0 10px;
}

.card-list-column > h2 {
    text-align: center;
    margin: 0 0 5px;
}

.card-list-column ul {
    list-style-type: none;
    padding: 0;
}

.card {
    background-color: #4b4b4b;
    margin-bottom: 5px;
    max-height: 150px;
    cursor: pointer;
}

.card-collapse {
    max-height: 0;
    overflow: hidden;
    margin-bottom: 0;
    transition: max-height 1000ms ease-in, margin-bottom 200ms 1000ms;
    -webkit-transition: max-height 1000ms ease-in, margin-bottom 200ms 1000ms;
}

.card .card-content {
    padding: 10px 20px 5px;
}

.card .card-content h3,p {
    margin: 5px 0;
}

.card .card-content p {
    text-indent: 5px;
}

.search-input {
    background-color: transparent;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    align-self: center;
    border-style: solid;
    border-width: 0 0 2px 0;
    font-size: 200%;
    outline: none;
    font-style: italic;
    text-decoration-color: #c6c8ca;
}

